@use '../utils/forwards' as *;

/*---- Mobile: ----*/
.search-icon {
  @include flexbox(flex, column, wrap, center, center);
}

/*---- Tablet: ----*/
@media (min-width: 600px) {
  .search-icon {
    .search-img {
      width: 80%;
    }
  }
}

/*---- Desktop: ----*/
@media (min-width: 900px) {
  .search-icon {
    max-width: 4%;
    .search-img {
      width: 100%;
      transition: all 0.3s;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}