@font-face {
  font-family: 'Raleway';
  src: url('../../assets/fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Raleway-bold';
  src: url('../../assets/fonts/Raleway/static/Raleway-ExtraBold.ttf');
}

@font-face {
  font-family: 'Raleway-semibold';
  src: url('../../assets/fonts/Raleway/static/Raleway-SemiBold.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto/Roboto-Regular.ttf');
}